{% extends "baseMainProjectWorkFlow.html" %}
{% load static %}
{% block title %}Proyecto{% endblock title %}
{% block id_project %}{{ project.id }}{% endblock id_project %}
{% block content %}
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <h6 class="text-primary text-uppercase font-weight-bold">PROYECTO</h6>
                <h1 class="mb-4">Aquí se comenzara a desarrollar las actividades para un proyecto de tipo ALCANTARILLADO</h1>
            </div>
        </div>
    </div>
{% endblock content %}