<div class="card shadow-sm h-100" id="catalogos">
  <div class="card-body">
    <h4 class="mb-3">Catálogos</h4>

    <div class="list-group">

      <!-- Materiales -->
      <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span><i class="bi bi-bricks me-2 text-secondary"></i> Materiales {{ quiantyMaterial }}</span>
        <i class="bi bi-plus-circle text-primary"></i>
      </a>

      <!-- Equipos -->
      <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span><i class="bi bi-truck-front me-2 text-secondary"></i> Equipos {{ quiantyEquipo }}</span>
        <i class="bi bi-plus-circle text-primary"></i>
      </a>

      <!-- Mano de obra -->
      <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span><i class="bi bi-person-workspace me-2 text-secondary"></i> Mano de Obra {{ quiantyManoObra }}</span>
        <i class="bi bi-plus-circle text-primary"></i>
      </a>

      <!-- Herramientas -->
      <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span><i class="bi bi-tools me-2 text-secondary"></i> Herramientas {{ quiantyHerramienta }}</span>
        <i class="bi bi-plus-circle text-primary"></i>
      </a>

      <!-- Riesgos -->
      <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span><i class="bi bi-exclamation-triangle-fill me-2 text-warning"></i> Riesgos {{ quiantyRiesgo }}</span>
        <i class="bi bi-plus-circle text-primary"></i>
      </a>

      <!-- Control de calidad -->
       <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span><i class="bi bi-clipboard-check me-2 text-success"></i> Control de Calidad {{ quiantyCalidad }}</span>
        <i class="bi bi-plus-circle text-primary"></i>
      </a>

      <!-- Control ambiental -->
      <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span><i class="bi bi-apple me-2 text-success"></i> Control Ambiental {{ quiantyAmbiental }}</span>
        <i class="bi bi-plus-circle text-primary"></i>
      </a>

      <!-- Hidrológica -->
      <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span><i class="bi bi-droplet-half me-2 text-info"></i> Hidrológica {{ quiantyHidrologica }}</span>
        <i class="bi bi-plus-circle text-primary"></i>
      </a>

    </div>
  </div>
</div>
