{% extends "baseMainWorkflow.html" %}

{% block title %}Backup{% endblock title %}
{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Acciones Backup</h2>

  {% if messages %}
    <div class="mb-3">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="row">
    <!-- Download Backup Section -->
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Descargar Backup</h5>
          <p class="card-text">Haz clic en el boton para descargarte la base de datos hasta este punto.</p>
          <a href="{% url 'download_backup' %}" class="btn btn-primary">Descargar</a>
        </div>
      </div>
    </div>

    <!-- Upload Backup Section -->
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Restablecer Database</h5>
          <p class="card-text">Sube tu .sql backup para restablecer la base de datos.</p>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <input type="file" class="form-control" name="backup_file" accept=".sql" required>
            </div>
            <button type="submit" name="restore" class="btn btn-danger">Restablecer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
