{% extends "baseMainWorkFlow.html" %}
{% load static %}
{% block title %}Proyecto{% endblock title %}
{% block id_project %}{{ project.id }}{% endblock id_project %}

{% block content %}
<div class="container-fluid pt-5">
  <div class="container">
    <!-- Acciones -->
    <div class="d-flex gap-2 flex-wrap mb-4">
      <a href="{% url 'dashboard' %}" class="btn btn-primary">
        <i class="bi bi-house-door-fill"></i> Dashboard
      </a>
      <a href="{% url 'projectUpdate' project.pk %}" class="btn btn-outline-secondary">
        <i class="bi bi-pencil-square"></i> Editar proyecto
      </a>
      <a href="{% url 'projectFiles' project.id %}" class="btn btn-outline-secondary">
        <i class="bi bi-folder2-open"></i> Editar documentos
      </a>
    </div>

    {% include "partials/_info_project.html" %}

    <!-- Aquí forzamos que actividades y catálogos vivan en la MISMA fila -->
    <div class="row g-4">
      <div class="col-12 col-lg-8">
        {% include "partials/_info_activities.html" %}
      </div>
      <div class="col-12 col-lg-4">
        {% include "partials/_info_catalogs.html" %}
      </div>
    </div>

  </div>
</div>
{% endblock content %}
