{% extends "baseMainWorkflow.html" %}
{% block title %}Dashboard{% endblock title %}
{% block content %}

<!-- Header -->
<div class="jumbotron2 jumbotron-fluid mb-5">
  <div class="container text-center py-6">
    <h1 class="text-white display-3">DASHBOARD</h1>
    <div class="d-inline-flex align-items-center text-white">
      <p class="m-0 text-white">Calendario</p>
      <i class="fa fa-circle px-3"></i>
      <p class="m-0 text-white">Proyectos</p>
      <i class="fa fa-circle px-3"></i>
      <p class="m-0 text-white">Actividades</p>
    </div>
  </div>
</div>

    <h1>Bienvenido al Dashboard</h1>
    <p>Aquí puedes ver un resumen de la información.</p>
{% endblock content %}